<header class="header l-main__header">
    <a href="/" class="header__logo">
        <img src="assets/img/logos/logo.png"/>
    </a>
    <a class="header__menu">
        <span class="header__menu-bar header__menu-bar--1"></span>
        <span class="header__menu-bar header__menu-bar--2"></span>
        <span class="header__menu-bar header__menu-bar--3"></span>
        <span class="header__menu-bar header__menu-bar--4"></span>
    </a>
</header>
<div class="mega-menu">
    <a class="mega-menu__close">X</a>
    <img alt="Evelop" class="mega-menu__logo" src="assets/img/logos/logo-white.png"/>
    <nav class="mega-menu__list">
        <div class="mega-menu__item">
            <a class="mega-menu__heading">Sobre nosotros</a>
            <div class="mega-menu__toggle">
                <a class="mega-menu__link" href="#">Sobre nosotros</a>
                <a class="mega-menu__link" href="#">Nuestra Flota</a>
                <a class="mega-menu__link" href="#">Nuestros Destinos</a>
                <a class="mega-menu__link" href="#">Politica de calidad y medioambiente</a>
                <a class="mega-menu__link" href="#">Noticias</a>
            </div>
        </div>
        <div class="mega-menu__item">
            <a class="mega-menu__heading ">Servicios antes del vuelo</a>
            <div class="mega-menu__toggle">
                <a class="mega-menu__link" href="#">Sobre nosotros</a>
                <a class="mega-menu__link" href="#">Nuestra Flota</a>
                <a class="mega-menu__link" href="#">Nuestros Destinos</a>
                <a class="mega-menu__link" href="#">Politica de calidad y medioambiente</a>
                <a class="mega-menu__link" href="#">Noticias</a>
            </div>
        </div>
        <div class="mega-menu__item">
            <a class="mega-menu__heading ">Servicios durante del vuelo</a>
        </div>
        <div class="mega-menu__item">
            <a class="mega-menu__heading ">Información útil</a>
        </div>
        <div class="mega-menu__item">
          <a class="mega-menu__heading" target="_blank" href="/">Contacto</a>
        </div>
    </nav>
</div>
